<style>
  .message-container {
    font-size: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height:21px
  }
</style>

<div class="message-container">
  <p>Olá {{ name }} </p>
  <p>Parece que uma toca de senha para sua conta foi solicitada.</p>
  <p>Se foi você, então clique no link abaixo para escolher nova senha</p>
  <p>
    <a href="{{link}}">Resetar a senha</a>
  </p>
  <p>Se não foi você descarte esse email!</p>
  <p>Obrigado! <br />
    <Strong>Equipe GoBarber</Strong>
  </p>

</div>
